# Object files
*.o
*.obj

# Libraries
*.a
*.so
*.so.*
*.dylib

# Executables / compiled binaries
*.out
*.exe
ups_bench_hscl
ups_bench_mutex
ups_bench_hscl_*
ups_bench_mutex_*
ups_bench_boost_*
ups_bench_pthread_*
ups_bench_ticket


# Build output / results
results_hscl.txt
results_mutex.txt

# Database files
*.db

# Dependency files
*.d

# Compiled Python files
__pycache__/
*.pyc
*.pyo

# Editor/IDE files
.vscode/
*.swp
*.swo
*~